.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.red{ background-color: rgb(255, 0, 0);}
.orange{ background-color: rgb(255, 128, 0);}
.purple{ background-color: rgb(106, 13, 173);}
.sky{ background-color: rgb(00, 255, 255);}